/* stylelint-disable unit-allowed-list */

/* * */
/* BACKGROUND */

.background {
	position: absolute;
	top: 64mm;
	left: 15%;
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	justify-content: center;
	width: 70%;
	padding: 30px;
	margin: auto;
	background-color: white;
	border: 1px solid var(--spg-support-4);
	border-radius: 8px;
}

/* * */
/* HEADING */

.heading {
	font-size: 18px;
	font-weight: 900;
	color: var(--spg-support-5);
	text-align: center;
	text-transform: uppercase;
}

/* * */
/* NAME */

.name {
	padding: 0 3px 5px;
	font-size: 20px;
	font-weight: 900;
	line-height: 1;
	color: var(--spg-brand-2);
	text-align: center;
	text-transform: uppercase;
	border-bottom: 2px solid var(--spg-brand-2);
}

/* * */
/* TEXT */

.text {
	padding: 0 60px;
	font-size: 18px;
	font-weight: 400;
	color: var(--spg-support-5);
	text-align: center;
}

/* * */
/* SIGNATURE */

.signature {
	font-size: 18px;
	font-weight: 900;
	color: var(--spg-brand-1);
	text-align: center;
}

/* * */
/* CODE */

.code {
	position: absolute;
	bottom: 10mm;
	left: 10mm;
	font-size: 14px;
	font-weight: 900;
	color: var(--spg-support-4);
}
